/*font import*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');


/* CSS variables*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;
    /*blue*/
    --secondary-color: #aa9581;
    --highlight: #416a8e;
    --light-highlight: #7a9fc2;
}

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1,
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight)
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*navbar css*/
#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/*HEADER css*/
#header .lead {
    font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight);
    background: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} 

/* media querys */

/* medium devices 768px up */

@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 191px;
    }
}

@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }
}

@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 217px;
    }
}

@media screen and (min-width: 1400px) {
    #services .card-body {
        min-height: 191px;
    }
}